# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Google Bangkit\1. Java Basic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
